<button mat-raised-button color="primary" routerLink="../">Go back</button>
<button mat-raised-button color="accent" (click)="enableAddSkillArea()">
  Add new Skill Area
</button>

<mat-card *ngIf="isEnabled">
  <form class="example-form">
    <h3>New skill area</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Enter skill area name</mat-label>
      <textarea matInput [(ngModel)]="skillName" name="skillName"  placeholder="E.g. Communication"></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      style="margin: 0px"
      (click)="handleSave()"
    >
      Save
    </button>
  </form>
</mat-card>



<mat-list role="list" >
  <mat-list-item *ngFor="let skill of skills" role="listitem">{{skill.skill}}</mat-list-item>
</mat-list>


