mat-card {
  padding: 2rem;
  user-select: none;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.top-mat-card {
  margin-top: 80px;
}

mat-card:hover {
  -webkit-box-shadow: 5px 5px 35px -6px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 35px -6px rgba(0,0,0,0.6);
  transform: scale(1.05);
  transition: all 0.4s ease-out;
}
